<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "COOPER", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <!-- <li><%= link_to "Instrucciones", '#' %></li> -->
        <!-- <li><%= link_to "Resultados" %></li> -->
        <li><%= link_to "Ingresar", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
